@model IEnumerable<personapi_dotnet.Models.Entities.Profesion>

@{
	ViewBag.Title = "index";
}

<h2>index</h2>

<p>
	@Html.ActionLink("Profesion", "Index","Profesions")
</p>
<p>
	@Html.ActionLink("Personas","Index","Personas1")
</p>